<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameSkip</key>
	<integer>-1</integer>
	<key>disableSound</key>
	<false/>
	<key>controlOpacity</key>
	<real>0.5</real>
	<key>controlPosition</key>
	<integer>1</integer>
	<key>controlPadStyle</key>
	<integer>0</integer>
	<key>showFPS</key>
	<false/>
	<key>showPixelGrid</key>
	<false/>
	<key>enableDropbox</key>
	<false/>
	<key>enableDropboxCellular</key>
	<false/>
	<key>dbAppKey</key>
	<string>si4f6nnhrhl1ftc</string>
	<key>dbAppSecret</key>
	<string>w7c03bp86hmh54q</string>
</dict>
</plist>
